<div class="container-fluid footer bg-dark text-white">
    <footer class="py-5 mx-3">
      <div class="row">
        <!-- Columna Importante -->
        <div class="col-6 col-md-4 mb-3">
          <h5 class="text-white">Importante</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="/reserva" class="nav-link p-0 text-white">Reserva</a>
            </li>
          </ul>
        </div>
  
        <!-- Columna Política de Privacidad -->
        <div class="col-6 col-md-4 mb-3">
          <h5 class="text-white">Política de Privacidad</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="/politicaPriv" class="nav-link p-0 text-white">Cookies</a>
            </li>
            <li class="nav-item mb-2">
              <a href="/politicaPriv" class="nav-link p-0 text-white">Caché</a>
            </li>
            <li class="nav-item mb-2">
              <a href="/politicaPriv" class="nav-link p-0 text-white">Información Personal</a>
            </li>
            <li class="nav-item mb-2">
              <a href="/politicaPriv" class="nav-link p-0 text-white">Compra</a>
            </li>
            <li class="nav-item mb-2">
              <a href="/politicaPriv" class="nav-link p-0 text-white">Preguntas Frecuentes</a>
            </li>
          </ul>
        </div>
  
        <!-- Columna Redes Sociales -->
        <div class="col-6 col-md-4 mb-3">
          <h5 class="text-white">Contáctanos</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="/contacto" class="nav-link p-0 text-white">
                <i class="bi bi-whatsapp"></i> Whatsapp
              </a>
            </li>
            <li class="nav-item mb-2">
              <a href="https://www.instagram.com/explore/locations/485284521874117/lido-grill-by-cow-and-bell/" class="nav-link p-0 text-white">
                <i class="bi bi-instagram"></i> Instagram
              </a>
            </li>
            <li class="nav-item mb-2">
              <a href="/contacto" class="nav-link p-0 text-white">
                <i class="bi bi-telephone-fill"></i> Teléfono
              </a>
            </li>
            <li class="nav-item mb-2">
              <a href="/contacto" class="nav-link p-0 text-white">
                <i class="bi bi-envelope-fill"></i> Email
              </a>
            </li>
          </ul>
        </div>
      </div>
  
      <!-- Línea de Copyright -->
      <div class="d-flex flex-row flex-sm-row justify-content-center align-items-center py-4 border-top border-secondary">
        <p class="text-center mb-0">
          &copy; 2025 LidoGrill. Todos los derechos reservados.
        </p>
      </div>
    </footer>
  </div>
  
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>