<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-absolute w-100">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="/public/img/logo.jpg" alt="Restaurant Logo" width="40" height="40" class="d-inline-block align-text-top">
      Lido Grill
    </a>
    <!-- Navbar Toggler for Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">Acerca de Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="menu">Menú</a>
        </li>
        <% if (user && user.Nombre) { %>
          <li class="nav-item">
            <a href="/reserva" class="nav-link">Reserva</a>
          </li>
          <li class="nav-item">
            <button id="userButton" class="btn btn-link nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Sus reservas</button>
          </li>
          <li class="nav-item">
            <a href="/logout">
              <button id="userButton" class="btn btn-outline-light" data-logged-in="false" data-role="guest">Cerra Sesion</button>
            </a>          
          </li>
        <% } else { %>
          <li class="nav-item ms-3">
            <a href="/login">
            <button id="userButton" class="btn btn-outline-light" data-logged-in="false" data-role="guest">Iniciar Sesión / Registrarse</button>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
<%- include('./menu_reserva') %>