<div class="contenedor404">
    <h1 id="Titulo404">404</h1>
    <br>
    <p>Página no encontrada</p>
    <br>
    <a href="home.ejs" class="w-100"><button id="Boton404">Volver al Home</button></a>
</div>