<%- include('inc/header') %>
    <%- include('inc/navbar') %>
    <div class="container d-flex justify-content-around aling-items-center my-5 py-5">
    <%- reservas %>
    </div>
    <script src="/js/adminreserva.js"></script>
</body>
</html>