<%- include('inc/header') %>
    <%- include('inc/navadmin') %>
    <div class="container d-flex justify-content-around aling-items-center">
    <%- reservas %>
    </div>
    <script src="/js/adminreserva.js"></script>
</body>
</html>