<%- include('inc/header') %>
<main>
    <div class="contenedor--todo">
        <div class="caja--trasera">
            <div class="caja--trasera--login">
                <h3>¿Ya tienes una cuenta?</h3>
                <p>Inicia sesión para entrar en la página</p>
                <button id="btn--iniciarSesion">Iniciar Sesión</button>
            </div>
            <div class="caja--trasera--register">
                <h3>¿Aun no tienes una cuenta?</h3>
                <p>Registrate para que puedas iniciar sesión</p>
                <button id="btn--registrarse">Registrarse</button>
            </div>
        </div>
        <!--formulario de inicio y registro-->
        <div class="contenedor--loginRegister"> 
            <form action="" method="POST" class="formulario--login container-8" autocomplete="on">
                <!--inicio-->
                <h2>Iniciar Sesión</h2>
                <input id="Correo" type="text" placeholder="Correo Electronico" required>
                <input id="Contrasena1" type="password" placeholder="Contraseña" required>
                <div class="card-footer text-center">
                        <a href="#" id="olvidoContrasena" class="text-dark">Se me olvidó la contraseña</a>
                </div>
                <button type="submit">Entrar</button>
            </form>
            <!--registro-->
            <form action="" method="POST" class="FormularioAjax container-8 formulario--register" autocomplete="on">
                <h2>Registrarse</h2>
                <input id="Nombre" type="text" placeholder="Nombre Completo" required>
                <input id="Email" type="email" placeholder="Correo Electronico" required>
                <input id="Telefono" type="text" placeholder="Telefono" required>
                <input id="Contrasena" type="password" placeholder="Contraseña" required>
                <button>Registrarse</button>
            </form>
        </div>
    </div>
</main>

<script src="/js/animacionLogin.js"></script>
<script src="/js/loginRegister.js"></script>

<%- include('inc/footer') %>