<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Session Cerra</h1>
            <p>vuelva Pronto</p>
            <p><a href="/login">Iniciar Sesion</a></p>
        </div>
    </div>
</div>