<%- include('inc/header') %>
<%- include('inc/navbar') %>
<main>
    <div class="contenedor--todo">
        <div class="caja--trasera">
            <div class="caja--trasera--login">
                <h3>¿Ya tienes una cuenta?</h3>
                <p>Inicia sesión para entrar en la página</p>
                <button id="btn--iniciarSesion">Iniciar Sesión</button>
            </div>
            <div class="caja--trasera--register">
                <h3>¿Aun no tienes una cuenta?</h3>
                <p>Registrate para que puedas iniciar sesión</p>
                <button id="btn--registrarse">Registrarse</button>
            </div>
        </div>
        <!--formulario de inicio y registro-->
        <div class="contenedor--loginRegister"> 
            <form action="" method="POST" class="formulario--login container-8" autocomplete="on">
                <!--inicio-->
                <h2>Iniciar Sesión</h2>
                <input type="text" placeholder="Correo Electronico o Nombre Completo" name="Nombre_Correo" required>
                <input type="password" placeholder="Contraseña" name="password" required>
                <div class="card-footer text-center">
                        <a href="#" id="olvidoContrasena" class="text-dark">Se me olvidó la contraseña</a>
                </div>
                <button type="submit">Entrar</button>
            </form>
            <!--registro-->
            <form action="" method="POST" class="FormularioAjax container-8 formulario--register" autocomplete="on">
                <h2>Registrarse</h2>
                <input type="hidden" name="modulo_cliente" value="registrar">
                <input type="text" placeholder="Nombre Completo" name="nombre_completo">
                <input type="text" placeholder="Correo Electronico" name="correo">
                <input type="text" placeholder="Telefono" name="Telefono">
                <input type="password" placeholder="Contraseña" name="contraseña">
                <button>Registrarse</button>
            </form>
        </div>
    </div>
</main>

<%- include('inc/footer') %>